*, *::before, *::after {
    box-sizing: border-box;;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#sudoku-container {
    display: flex;
    height: 100%;
    width: 100%;
}

#sudoku-controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: auto 0;
    padding: 0 2.5%;
}

#sudoku-title {
    flex: .5;
    text-align: center;
    margin: 0;
}

#level-select {
    flex: .25;
    background-color: aquamarine;
}


.sudoku-ctrl-btns {
    flex: 2;
    border: none;
}

#sudoku-board {
    flex: 4;
    display: flex;
    flex-direction: column; /* So that the rows stack */
    height: 90%;
    margin: auto 0;
}

.sudoku-board-row {
    flex: 1; /* so each row takes up 1 column */
    display: flex;
}

.sudoku-board-row:nth-child(3) .sudoku-board-item,
.sudoku-board-row:nth-child(6) .sudoku-board-item {
    border-bottom: 10px solid #A0ECD0;
}

.sudoku-board-row .sudoku-board-item:nth-child(3),
.sudoku-board-row .sudoku-board-item:nth-child(6) {
    border-right: 10px solid #A0ECD0;
}

.sudoku-board-item {
    flex: 1; /* so each number takes up even space columns */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid lightgray;
}

.interactive {
    background-color: #F4FEFF;
}

.interactive:hover {
    background-color: #6F8AB7;
}

.active {
    background-color: lightgray;
}

#sudoku-choose-nums {
    flex: .25;
    flex-direction: column;
    height: 90%;
    margin: auto 0;
}

.num-avail {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-avail:hover {
    background-color: #A0ECD0;
}